In [1]:
# === Employee Data Analysis ===

import pandas as pd
import numpy as np
import os

# Set the path to your actual file (update if needed)
file_path = 'Employee_data.csv'

# === Try loading your dataset ===
if os.path.exists(file_path):
    employee_data = pd.read_csv(file_path)
    print("‚úÖ Dataset loaded successfully.")
else:
    print("‚ö†Ô∏è File not found. Using sample data instead.")
    # Creating a sample DataFrame
    data = {
        'Employee ID': [1, 2, 3, 4, 5],
        'Name': ['Alice', 'Bob ', ' Charlie', 'Diana', 'Evan'],
        'Age': [29, 34, 42, 28, np.nan],
        'Department': ['HR ', 'Finance', 'IT', 'Finance', ' HR'],
        'Salary': [60000, 70000, 80000, 75000, 62000],
        'Years at Company': [2, 4, 5, 3, 1],
        'Performance Score': [3.5, 4.0, 3.9, 4.2, np.nan],
        'Attrition': ['No', 'Yes', 'No', 'No', 'Yes']
    }
    employee_data = pd.DataFrame(data)

# === Preview dataset ===
print("\nüìÑ First few rows of the dataset:")
print(employee_data.head())

# === Check for missing values ===
print("\nüîç Missing values in each column:")
print(employee_data.isnull().sum())

# === Fill missing numerical values with column means ===
numeric_cols = employee_data.select_dtypes(include=[np.number]).columns
employee_data[numeric_cols] = employee_data[numeric_cols].fillna(employee_data[numeric_cols].mean())

# === Remove duplicates ===
before = len(employee_data)
employee_data.drop_duplicates(inplace=True)
after = len(employee_data)
print(f"\nüßπ Removed {before - after} duplicate rows.")

# === Clean whitespace in object columns ===
for col in employee_data.select_dtypes(include='object').columns:
    employee_data[col] = employee_data[col].str.strip()

# === Print cleaned dataset ===
print("\n‚úÖ Cleaned Dataset Preview:")
print(employee_data)

# === Summary ===
print("\nüìä Dataset Summary:")
print(employee_data.describe(include='all'))

‚ö†Ô∏è File not found. Using sample data instead.

üìÑ First few rows of the dataset:
   Employee ID      Name   Age Department  Salary  Years at Company  \
0            1     Alice  29.0        HR    60000                 2
1            2      Bob   34.0    Finance   70000                 4
2            3   Charlie  42.0         IT   80000                 5
3            4     Diana  28.0    Finance   75000                 3
4            5      Evan   NaN         HR   62000                 1

   Performance Score Attrition
0                3.5        No
1                4.0       Yes
2                3.9        No
3                4.2        No
4                NaN       Yes

üîç Missing values in each column:
Employee ID          0
Name                 0
Age                  1
Department           0
Salary               0
Years at Company     0
Performance Score    1
Attrition            0
dtype: int64

üßπ Removed 0 duplicate rows.

‚úÖ Cleaned Dataset Preview:
   Employee ID     Name    Age Department  Salary  Years at Company  \
0            1    Alice  29.00         HR   60000                 2
1            2      Bob  34.00    Finance   70000                 4
2            3  Charlie  42.00         IT   80000                 5
3            4    Diana  28.00    Finance   75000                 3
4            5     Evan  33.25         HR   62000                 1

   Performance Score Attrition
0                3.5        No
1                4.0       Yes
2                3.9        No
3                4.2        No
4                3.9       Yes

üìä Dataset Summary:
        Employee ID   Name       Age Department        Salary  \
count      5.000000      5   5.00000          5      5.000000
unique          NaN      5       NaN          3           NaN
top             NaN  Alice       NaN         HR           NaN
freq            NaN      1       NaN          2           NaN
mean       3.000000    NaN  33.25000        NaN  69400.000000
std        1.581139    NaN   5.53963        NaN   8473.488066
min        1.000000    NaN  28.00000        NaN  60000.000000
25%        2.000000    NaN  29.00000        NaN  62000.000000
50%        3.000000    NaN  33.25000        NaN  70000.000000
75%        4.000000    NaN  34.00000        NaN  75000.000000
max        5.000000    NaN  42.00000        NaN  80000.000000

        Years at Company  Performance Score Attrition
count           5.000000           5.000000         5
unique               NaN                NaN         2
top                  NaN                NaN        No
freq                 NaN                NaN         3
mean            3.000000           3.900000       NaN
std             1.581139           0.254951       NaN
min             1.000000           3.500000       NaN
25%             2.000000           3.900000       NaN
50%             3.000000           3.900000       NaN
75%             4.000000           4.000000       NaN
max             5.000000           4.200000       NaN